.step_fourth_input {
  transition: transform 0.6s ease, opacity 0.6s ease;
  transition-delay: 0.6s;
}

.step_fourth_title {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: rgba(16, 24, 40, 1);
  margin-bottom: 16px;
  transition: transform 0.6s ease, opacity 0.6s ease;
}

.open {
  transform: translateY(0);
  opacity: 1;
}

.close {
  transform: translateY(-40px);
  opacity: 0;
}

.suffix {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: rgba(102, 112, 133, 1);
}
