.container {
  display: flex;
}

.step {
  width: 290px;
  border-right: 1px solid rgba(234, 236, 240, 1);
  padding: 16px;
  background-color: #f9fafb;
}

.form {
  width: 857px;
  padding: 16px;
  min-height: 500px !important;
}

.confirm-modal .ant-modal-container {
  padding: 20px !important;
}
