.name {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: rgba(52, 64, 84, 1);
}

.input {
  transition: transform 0.6s ease, opacity 0.6s ease;
  transition-delay: 0.6s;
}

.open {
  transform: translateY(0);
  opacity: 1;
}

.close {
  transform: translateY(-40px);
  opacity: 0;
}
