.step_container {
  width: 100%;
  display: grid;
  grid-template-columns: 10% 90%;
  gap: 12px;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  padding-bottom: 4px;
}

.radio {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: 1px solid rgba(224, 228, 233, 1);
  color: rgba(152, 162, 179, 1);
  display: grid;
  place-content: center;
}

.radio_active {
  border: 1px solid rgba(0, 99, 255, 1);
  color: rgba(0, 99, 255, 1);
}

.radio_done {
  border: 1px solid rgba(18, 183, 106, 1);
  background-color: rgba(18, 183, 106, 1);
  animation: animationBg 0.3s ease-in-out;
}

@keyframes animationBg {
  from {
    background-color: rgba(18, 183, 106, 0.5);
  }
  to {
    background-color: rgba(18, 183, 106, 1);
  }
}

.check_icon {
  color: #fff;
  animation: animationIcon 0.3s ease-in-out;
}

@keyframes animationIcon {
  from {
    transform: scale(0.4);
  }
  to {
    transform: scale(1.05);
  }
}

.line {
  height: calc(100% - 22px);
  width: 2.5px;
  background-color: rgba(224, 228, 233, 1);
  border-radius: 3px;
}

.stepper_line_progress {
  width: 100%;
  height: 100%;
  background-color: rgba(18, 183, 106, 1);
  animation: animationLineProgress 0.6s linear;
  border-radius: 3px;
}

@keyframes animationLineProgress {
  from {
    height: 0%;
  }
  to {
    height: 100%;
  }
}

.not_line {
  display: none;
}

.right {
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: rgba(16, 24, 40, 1);
}

.description {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgba(102, 112, 133, 1);
  padding-bottom: 20px;
}
