* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.send_btn {
  margin: 100px;
}

.ant-modal-container {
  padding: 0 !important;
}

:where(.css-dev-only-do-not-override-1iph5z3).ant-modal .ant-modal-header {
  padding: 16px;
  border-bottom: 1px solid rgba(234, 236, 240, 1);
  margin: 0 !important;
}

:where(.css-dev-only-do-not-override-1iph5z3).ant-modal .ant-modal-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: rgba(16, 24, 40, 1);
}

:where(.css-dev-only-do-not-override-1iph5z3).ant-modal .ant-modal-footer {
  padding: 16px;
  border-top: 1px solid rgba(234, 236, 240, 1);
  margin: 0 !important;
}

:where(.css-dev-only-do-not-override-1iph5z3).ant-form-item
  .ant-form-item-additional {
  display: none;
}

:where(.css-dev-only-do-not-override-1iph5z3).ant-form-item-vertical
  .ant-form-item-label {
  padding-bottom: 6px !important;
}

.css-var-root.ant-form-css-var {
  margin-bottom: 0 !important;
}

:where(.css-dev-only-do-not-override-1iph5z3).ant-input-number-outlined,
:where(.css-dev-only-do-not-override-1iph5z3).ant-input-outlined {
  border-color: rgba(208, 213, 221, 1);
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  height: 40px;
  border-radius: 8px !important;
}
